<div class="container">
    <table class="table table-responsive table-condensed"> 
        <tr>
            <td ><label for="name" class="label">Name:</label></td> 
            <td colspan="3">
                <select id="fltname" name="fltname"   [(ngModel)]="selectedPerson" (ngModelChange)="onChangeName($event)">
                        <option *ngFor="let e of PeopleList"   [ngValue]="e"> {{e.name}} </option>
                </select>
                      
            </td>
        <tr>
            <td><label class="label">Category:</label></td>
            <td><select id="cboCategorySel" name="cboCategorySel" [(ngModel)]="selectedCategory" (ngModelChange)="onChange($event)" >
                    <option *ngFor="let c of CategoryList" [ngValue]="c"> {{c}} </option>
                </select>                            
    
            </td>
            <td><label class="label">Description:</label></td>
            <td><input type="text" class="editor-field" name="Descrip" id="Descrip" style="width:300px;" [(ngModel)]="Descrip" /></td>
        </tr> 
        <tr>
            <td><label class="label" for="fromDate">From Date:</label></td> 
            <td>
                <input type="text"  name="fromDate" id="fromDate" style="width:85px;" [(ngModel)]="fromDate" />
            </td>
            <td><label class="label">To Date:</label></td>
            <td><input type="text" name="toDate" id="toDate" style="width:85px;" [(ngModel)]="toDate" /></td>
        </tr>
        <tr>
            <td  style="text-align:center" colspan="4"><input (click)="filter()" type="button" id="btnFiliter" class="btn btn-primary" value="Filter" /></td>
        </tr>
    </table>
    
    <div class="text-danger" *ngIf="message">{{message}}</div>
    <table class="table table-responsive table-striped table-hover table-condensed">
        <tr>
            <th></th>
            <th>Category</th>
            <th>Topic</th>
            <th>Description</th>
            <th>Date</th>
            <th>Name</th>
          </tr>
        
        <tr *ngFor="let aw of EventDataList">
          <td><button (click)="open(content, this.aw)" class="btn btn-primary btn-sm">Edit</button></td>
          <td>{{aw.topicf!=null && aw.topicf.topicTitle!=null ? aw.topicf.topicTitle:"n/a"}}</td>
          <td>{{aw.topic}}</td>
          <td>{{aw.description!=null?aw.description:"n/a"}}</td>
          <td>{{aw.date!=null?aw.date:"n/a"}}</td>
          <td>{{aw.userName!=null?aw.userName:"n/a"}}</td>
        </tr>
        <tr >
          <td colspan="6" style="text-align:center">
              <button ng-disabled="currentPage == 1" (click)="currentPage=currentPage-1; setPage();">
                  Previous
              </button>
              {{currentPage}}/{{numberOfPages}}
              <button ng-disabled="currentPage >= numberOfPages" (click)="currentPage=currentPage+1; setPage();">
                  Next
            </button>
          </td>
        </tr>
    </table>


    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Event:</h4>
                    <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                </div>
            <div class="modal-body">
            <form class="container-fluid"> 
                <div class="row"> 
                        <div class="col-xs-6 col-sm-4">
                            <label class="label2" for="Name">Name</label>
                        </div>
                        <div class="col-xs-6 col-lg-8">
                                <input class="form-control" type="text" name="Name" id="Name" [(ngModel)]="selectedEvent.userName" /> 
                        </div>
                </div>  
      
                  <div class="row"> 
                      <div class="col-xs-6 col-sm-4" >Category</div>
                      <div class="col-xs-6 col-lg-8" >
                              <select class="form-control" id="cboCategory" name="cboCategory" [(ngModel)]="selectedCategory" >
                                  <option *ngFor="let c of CategoryList" [ngValue]="c"> {{c}} </option>
                              </select>                            
                      </div> 
                  </div> 
                  <div class="row" > 
                          <div class="col-xs-6 col-sm-4" >
                              <label  class="label2" for="Date">Date</label>
                          </div>
                          <div class="col-xs-6 col-lg-8" >
                              <input class="form-control" type="text" name="Date" id="Date"  [(ngModel)]="selectedEvent.date" /> 
                          </div>
                  </div>  
            
      
                  <div class="row" > 
                          <div class="col-xs-6 col-sm-4" >
                              <label  class="label2" for="Topic">Topic</label>
                          </div>
                          <div class="col-xs-6 col-lg-8" >
                              <input class="form-control" type="text" name="Topic" id="Topic"  [(ngModel)]="selectedEvent.topic" /> 
                          </div>
                      </div>  
                  
                <div class="row"> 
                    <div class="col-xs-6 col-sm-4" >
                        <label class="label2" for="Description">Description</label>
                    </div>
                    <div class="col-xs-6 col-lg-8" >
                        <input class="form-control" type="text" name="Description" id="Description" [(ngModel)]="selectedEvent.description" /> 
                    </div>  
                </div>  
            </form> 
         </div>
        <div class="modal-footer">
            <button role="button" type="button" class="btn btn-outline-dark" (click)="Save()" *ngIf="isLoggedIn">Save</button>
            <button role="button" type="button" class="btn btn-outline-dark" (click)="hide()">Close</button>
        </div>
    </div>
</div>
  
</div>  