<app-header></app-header>
<div id="sidebar"  [ngClass]="{'hide-sidebar': showSideBar, 'sidebar': !showSideBar}">
  <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link active" id="mainhome"  routerLink="/">Home</a></li>
      
      <li class="nav-item"><a class="nav-link"  routerLink="/picture">Edit Photo</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/person">Edit People</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/event">Edit Event</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/email">Edit Email</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/calendar">Calendar</a></li>
  </ul>
</div>

<div id="mainwrapper" [ngClass]="{'hide-sidebar': showSideBar}" >
<button type="button" (click)="onClickMe()" class="btn btn-outline-primary"><i class="fa"  [ngClass]="{'fa-folder-open-o': !showSideBar, 'fa-folder': showSideBar}" ></i></button>

<router-outlet></router-outlet>
</div>